In [9]:
import pandas as pd
import numpy as np
import io

In [2]:
data = '''Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
1,Indiana Pacers*,82,240.3,47.0,92.7,.507,13.2,35.3,.374,33.8,57.4,.589,16.1,20.5,.782,10.1,31.4,41.5,30.8,7.7,5.9,12.9,21.4,123.3
2,Boston Celtics*,82,241.8,43.9,90.2,.487,16.5,42.5,.388,27.4,47.7,.575,16.3,20.2,.807,10.7,35.6,46.3,26.9,6.8,6.6,11.9,16.2,120.6
3,Oklahoma City Thunder*,82,241.5,44.5,89.3,.499,13.3,34.2,.389,31.3,55.1,.567,17.7,21.5,.825,8.8,33.2,42.0,27.1,8.5,6.6,12.7,18.8,120.1
4,Milwaukee Bucks*,82,241.5,43.1,88.5,.487,14.2,38.1,.373,29.0,50.4,.574,18.5,23.9,.774,9.4,34.8,44.2,26.5,6.8,5.0,12.9,19.2,119.0
5,Atlanta Hawks,82,242.1,43.0,92.5,.465,13.7,37.7,.364,29.3,54.8,.535,18.5,23.2,.797,12.5,32.2,44.7,26.6,7.5,4.5,13.5,18.6,118.3
6,Los Angeles Lakers*,82,242.1,43.7,87.5,.499,11.8,31.4,.377,31.8,56.2,.567,18.9,24.2,.782,8.2,34.9,43.1,28.5,7.4,5.5,14.0,15.6,118.0
7,Dallas Mavericks*,82,240.3,43.1,89.7,.481,14.6,39.5,.369,28.5,50.1,.569,17.0,22.5,.758,9.7,33.2,42.9,25.7,6.9,5.0,12.5,18.3,117.9
8,Golden State Warriors,82,241.8,43.7,91.6,.477,14.8,38.9,.380,28.9,52.7,.548,15.6,20.0,.780,12.1,34.6,46.7,29.3,7.0,4.6,14.3,19.5,117.8
9,Sacramento Kings,82,242.1,43.3,90.9,.477,14.4,39.3,.366,29.0,51.7,.561,15.5,20.9,.745,10.8,33.2,44.0,28.3,7.6,4.2,13.1,19.9,116.6
10,Phoenix Suns*,82,241.2,42.5,86.1,.493,12.4,32.6,.382,30.0,53.6,.561,18.9,23.4,.808,10.1,33.9,44.1,27.0,7.4,6.0,14.9,18.0,116.2
11,Utah Jazz,82,241.5,42.0,89.9,.467,12.9,36.5,.354,29.1,53.4,.544,18.8,22.6,.830,12.2,33.2,45.5,27.2,6.5,5.6,15.7,18.6,115.7
12,Los Angeles Clippers*,82,240.3,42.4,86.7,.489,12.6,33.2,.381,29.7,53.5,.555,18.3,22.2,.825,10.0,32.9,43.0,25.6,7.8,5.0,13.1,18.5,115.6
13,New Orleans Pelicans*,82,240.3,42.5,87.4,.486,12.5,32.6,.383,30.0,54.8,.548,17.6,22.8,.771,10.4,33.6,44.0,27.0,8.3,4.6,13.0,18.4,115.1
14,Denver Nuggets*,82,240.3,44.0,88.8,.496,11.7,31.2,.374,32.3,57.5,.562,15.1,19.9,.762,10.7,33.7,44.4,29.5,7.1,5.6,12.6,18.2,114.9
15,Philadelphia 76ers*,82,241.2,41.5,89.4,.464,12.1,33.3,.363,29.4,56.1,.525,19.5,23.6,.826,11.0,31.9,43.0,24.9,8.5,6.0,12.0,20.3,114.6
16,Houston Rockets,82,242.1,41.8,91.0,.459,12.7,36.1,.352,29.0,54.8,.530,18.1,23.4,.773,11.5,34.0,45.5,24.8,7.8,4.6,12.7,20.8,114.3
17,Washington Wizards,82,240.6,43.0,91.4,.470,12.4,35.5,.348,30.6,55.8,.548,15.4,20.2,.764,9.2,31.9,41.1,27.9,7.6,5.1,14.0,20.0,113.7
18,Minnesota Timberwolves*,82,241.5,41.3,85.0,.485,12.6,32.7,.387,28.6,52.4,.546,17.8,22.9,.777,9.4,34.2,43.6,26.6,7.9,6.1,14.2,18.8,113.0
19,New York Knicks*,82,240.6,41.3,88.7,.465,13.2,35.8,.369,28.1,52.9,.531,17.0,21.8,.780,12.7,32.5,45.2,24.4,7.5,4.1,13.2,17.6,112.8
20,Cleveland Cavaliers*,82,241.5,41.8,87.2,.479,13.5,36.8,.367,28.3,50.4,.561,15.6,20.4,.765,9.8,33.4,43.3,28.0,7.4,4.6,13.6,17.5,112.6
21,Toronto Raptors,82,241.5,42.3,89.7,.471,11.5,33.1,.347,30.8,56.6,.543,16.3,21.6,.756,10.9,31.8,42.7,28.5,7.7,4.7,14.0,18.4,112.4
22,Chicago Bulls,82,243.7,42.0,89.5,.470,11.5,32.1,.358,30.6,57.4,.532,16.7,21.1,.791,11.2,32.6,43.8,25.0,7.8,4.8,12.2,18.8,112.3
23,San Antonio Spurs,82,241.8,41.9,90.7,.462,12.6,36.4,.347,29.3,54.3,.539,15.6,20.0,.782,10.4,33.9,44.2,29.9,7.1,6.3,15.1,17.2,112.1
24,Orlando Magic*,82,241.2,40.5,84.9,.476,11.0,31.3,.352,29.5,53.6,.549,18.5,24.4,.759,10.5,31.8,42.3,24.7,8.2,5.2,14.7,19.7,110.5
25,Brooklyn Nets,82,241.5,40.7,89.1,.456,13.3,36.7,.362,27.4,52.4,.522,15.8,20.9,.756,11.4,32.6,44.1,25.6,6.8,5.2,13.1,18.5,110.4
26,Miami Heat*,82,240.9,39.8,85.6,.465,12.5,33.7,.370,27.4,51.9,.527,18.0,22.0,.818,9.3,33.0,42.3,25.8,7.5,3.4,12.7,17.3,110.1
27,Detroit Pistons,82,240.9,40.9,88.2,.463,11.0,31.7,.348,29.8,56.5,.528,17.0,21.7,.785,10.5,32.8,43.3,25.5,6.5,4.7,15.2,20.6,109.9
28,Charlotte Hornets,82,240.6,40.0,87.0,.460,12.1,34.0,.355,28.0,53.0,.528,14.5,18.4,.786,9.3,31.0,40.3,24.8,6.9,4.5,13.8,18.0,106.6
29,Portland Trail Blazers,82,242.4,39.4,89.7,.439,11.5,33.2,.345,27.9,56.5,.494,16.2,20.5,.791,12.6,30.1,42.7,23.1,7.6,4.3,15.2,20.2,106.4
30,Memphis Grizzlies,82,241.2,38.4,88.2,.435,13.1,37.8,.346,25.3,50.4,.502,16.0,21.0,.764,10.9,31.7,42.6,24.7,8.2,6.1,15.1,19.1,105.8
,League Average,82,241.4,42.2,88.9,.474,12.8,35.1,.366,29.3,53.8,.545,17.0,21.7,.784,10.6,33.0,43.5,26.7,7.5,5.1,13.6,18.7,114.2'''

In [24]:
df = pd.read_csv(io.StringIO(data))
df.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Indiana Pacers*,82,240.3,47.0,92.7,0.507,13.2,35.3,0.374,...,0.782,10.1,31.4,41.5,30.8,7.7,5.9,12.9,21.4,123.3
1,2.0,Boston Celtics*,82,241.8,43.9,90.2,0.487,16.5,42.5,0.388,...,0.807,10.7,35.6,46.3,26.9,6.8,6.6,11.9,16.2,120.6
2,3.0,Oklahoma City Thunder*,82,241.5,44.5,89.3,0.499,13.3,34.2,0.389,...,0.825,8.8,33.2,42.0,27.1,8.5,6.6,12.7,18.8,120.1
3,4.0,Milwaukee Bucks*,82,241.5,43.1,88.5,0.487,14.2,38.1,0.373,...,0.774,9.4,34.8,44.2,26.5,6.8,5.0,12.9,19.2,119.0
4,5.0,Atlanta Hawks,82,242.1,43.0,92.5,0.465,13.7,37.7,0.364,...,0.797,12.5,32.2,44.7,26.6,7.5,4.5,13.5,18.6,118.3

In [25]:
df.drop(['Team'], axis=1, inplace=True)

In [26]:
df.head()

,Rk,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,82,240.3,47.0,92.7,0.507,13.2,35.3,0.374,33.8,...,0.782,10.1,31.4,41.5,30.8,7.7,5.9,12.9,21.4,123.3
1,2.0,82,241.8,43.9,90.2,0.487,16.5,42.5,0.388,27.4,...,0.807,10.7,35.6,46.3,26.9,6.8,6.6,11.9,16.2,120.6
2,3.0,82,241.5,44.5,89.3,0.499,13.3,34.2,0.389,31.3,...,0.825,8.8,33.2,42.0,27.1,8.5,6.6,12.7,18.8,120.1
3,4.0,82,241.5,43.1,88.5,0.487,14.2,38.1,0.373,29.0,...,0.774,9.4,34.8,44.2,26.5,6.8,5.0,12.9,19.2,119.0
4,5.0,82,242.1,43.0,92.5,0.465,13.7,37.7,0.364,29.3,...,0.797,12.5,32.2,44.7,26.6,7.5,4.5,13.5,18.6,118.3

In [27]:
X = df.iloc[:, 1:24]
y = df.iloc[:, 0]

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=21)

In [33]:
scaleStandard = StandardScaler()
X_train = scaleStandard.fit_transform(X_train)

In [34]:
df.columns

Index(['Rk', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS'],
      dtype='object')

In [35]:
X_train = pd.DataFrame(X_train, columns= ['Rk', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS'])
X_train.head()

ValueError: Shape of passed values is (24, 23), indices imply (24, 24)

In [36]:
from sklearn.decomposition import PCA

In [37]:
pca1 = PCA()